<ActionBar title="API Tester" class="action-bar">
    <ActionItem ios.position="right" text="Reset" (tap)="reset()"></ActionItem>

</ActionBar>
<StackLayout class="page">
    <ScrollView #scrollView class="scrollview-constainer">
        <Label [text]="instructions" class="instruction-txt" textWrap="true" editable="false"></Label>
    </ScrollView>
    <GridLayout class="input-grid" columns="*, 100">
        <TextField col="0" #inputTxt class="input-txt" hint="Type reply here" autocorrect="false" text="" keyboardType="datetime"></TextField>
        <Button class="btn" col="1" text="Send!" (tap)="onTap($event)"></Button>
    </GridLayout>
</StackLayout>